html {
  height: 100%;
  color: white;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: #222;
}

.button {
  background-color: #f44336;
  border: 2px solid #f44336;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 65%;
}

.button:hover {
  background-color: #aa0f0f;
  border: 2px solid #aa0f0f;
}

.button:focus {
  outline: 0;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  float: right;
  height: 100%;
  width: 25%;
  color: #eee;
  background-color: rgb(59, 66, 68);
  text-align: center;
  padding: 0% 2%;
}

.help-form {
  flex: 1;
}

.help-message {
  flex: 3;
  display: flex;
  flex-flow: column nowrap;
}

.help-button {
  font-size: 24px;
  height: 2em;
}

.help-message-table {
  flex: 1;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
}

.help-message-form {
  flex: 2;
  margin: 20px 20px;
  font-size: 24px;
}

.text-help {
  padding: 10px 10px;
  height: 60%;
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 16px;
}

.help-message-button {
  margin: 20px auto;
  font-size: 24px;
  height: 2em;
}

.App {
  text-align: center;
}

.map {
  width: 71%;
  height: 100%;
  float: left;
}


.sidebar h3 {
  font-size: 48px;
}

.App-header {
  line-height: 5em;
  
}

.textHelp {
  height: 20em;
  width: 100%;
}

.navbar {
  height: 5em;
  margin-right: 5%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navbar-icon {
  flex: 1;
}

.navbar-icon img {
  display: block;
  margin: 0 auto;
  height: 4em;
  width: auto;
}

.navbar-buttons {
  flex: 9;
  text-align: right;
}

.navbar-button {
  margin: 5px 10px;
  height: 2em;
  width: 5em;
  font-size: 20px;
}

.EmergencyList {
  margin: 0 auto;
  font-size: 24px;
  color: #ffffff;
  text-align: left;
}

.EmergencyList th {
  color: #d0f4d9;
  text-decoration: underline;
  font-style: italic;
}

.EmergencyList td {
  padding: 5px 10px;
  letter-spacing: 2px;
}

.page-icon {
  height: 80%;
  width: 80%;
  margin: 100px auto;
}

.page-icon img {
  display: block;
  margin: 0 auto;
  height: 60%;
  width: auto;
}

.create-flight-button {
  margin: 5px 10px;
  height: 2em;
  width: 10em;
  border-radius: 5px;
  font-size: 20px;
}

.select-pilot-field {
  height: 2em;
}

.rescue-team-app {
  height: 100%;
  width: 100%;
}

.create-flight-plan-area {
  display: flex;
  background-Color: rgb(59, 66, 68);
  color: white;
  /* position: relative; */
}

.create-flight-plan-requirement {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.select-pilot {
  text-align: left;
  margin: 20px 20px 20px 20px;
}

.alititude-form {
  text-align: left;
  margin: 0px 0px 20px 20px;
}

.altitude-example {
  margin: 10px auto;
  font-size: 16px;
  font-weight: initial;
}

.set-time-div {
  margin: 0px 0px 20px 20px;
  text-align: left;
}

.set-time-title {
  margin-bottom: 10px;
}

.set-time-direction {
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}

.create-flight-plan-polygon {
  text-align: left;
  margin: 15px 0px 0px 10px;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.draw-polygon-button {
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
}

.submit-flight-button {
  font-size: 30px;
  width: 300px;
}

.submit-flight-button-position {
  margin-top: 30px;
  margin-left: 100px;
}

.myMap {
  height: 350px; 
  width: 750px;
}
